.tasks {
    display: flex;
    flex-direction: column;
    gap: .8rem;

    padding: 0 2rem;
    margin-bottom: 6rem;

    @media screen and (max-width: 500px) {
        padding: 0 1rem;
    }

    @media screen and (max-width: 400px) {
        padding: 0;
    }
}